:root{
    --background: rgba(25, 29, 10, 1);
    --color-text: rgba(255, 255, 255, 1);
    --color-border-header: rgba(249, 114, 71, 1);
    --color-border-icon-header:rgba(235, 242, 157, 1);
    --color-background-icon-header:rgba(249, 114, 71, 1);
    --color-footer-border: #F97247;
    --color-footer-text-hover: #F97247;

    --color-background-header: rgba(25, 29, 10, 1);
    --color-background-footer: #311212;
    

    
    
}