:root{
    --background: rgba(25, 29, 10, 1);
    --color-text: rgba(255, 255, 255, 1);
    --color-border-header: rgba(249, 114, 71, 1);
    --color-border-icon-header:rgba(235, 242, 157, 1);
    --color-background-icon-header:rgba(249, 114, 71, 1);
    

    --color-background-header: rgba(25, 29, 10, 1);
    --color-text-h4-main:rgba(255, 255, 255, 0.6);
    
    --color-background-btn-main: rgba(249, 114, 71, 1);
    --color-text-btn-main:rgba(255, 255, 255, 1);
    



    

    
    
}